WebServices_lab1/src/META-INF/wsdl/localhost_1111/PersonService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservices_lab1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices_lab1/">

<xs:element name="getPersons" type="tns:getPersons"></xs:element>

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"></xs:element>

<xs:complexType name="getPersons">
<xs:sequence>
<xs:element name="arg0" type="tns:person" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:postgreSQLDAO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sex" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="surname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postgreSQLDAO">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>